.playerContainer {
  /* margin-bottom: 700px; */
  width: 70vw;
  height: 97vh;
}

.onePlayer {
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 29vw;
  margin-left: 5px;
}

.sideBarTop {
  /* background-color: #93f669; */
  background-color: #55c325;
  padding: 10px;
}

.sideBarTitle {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: 700;
}

.cameraButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.cameraButton {
  display: flex;
  font-size: 1vw;
  text-align: left;
  margin-top: 8;
  background-color: #55c325;
  color: white;
  border-style: none;
  padding: 8px;
  padding-inline: 20px;
}

.tags {
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow: scroll;
}

.oneTag {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-width: 0;
  border-radius: 16;
  padding: 10px;
  padding-inline: 20px;
}

.tagTitle {
  font-size: 1vw;
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.tagTime {
  align-self: center;
  color: #aaa;
  font-size: 0.8vw;
  font-weight: 600;
  width: 60px;
  text-align: right;
}
