.sidebar {
  display: flex;
  flex-direction: column;
}

.selectButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 100;
}

.sideBarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-height: 90vh;
  overflow: scroll;
  margin: 16px;
  margin-top: 16px;
}

.cameraButton {
  display: flex;
  font-size: 16;
  text-align: left;
  margin-top: 8;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 2;
  border-radius: 16;
  padding: 16;
}
