@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GongGothicLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.playerContainer {
  /* margin-bottom: 700px; */
  width: 70vw;
  height: 97vh;
}

.onePlayer {
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 29vw;
  height: 100vh;
  margin-left: 0.2vw;
}

.sideBarTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #93f669; */
  background-color: #EBF7DA;
  padding: 0.4vw;
}

.sideBarTitle {
  color: white;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 3vw;
  background-color: #55c325;
  border-width: 0px;
  margin: 1vw;
  /* font-weight: 700; */
}

.cameraButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EBF7DA;
}

.shareButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  background-color: #EBF7DA;
}

.cameraButton {
  display: flex;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: left;
  margin-top: 8;
  background-color: #55c325;
  color: white;
  border-style: solid;
  border-width: 0px;
  padding: 0.5vw;
  padding-inline: 2vw;
  font-family: GongGothicLight, serif
}

.shareButton {
  
  align-items: end;
  display: flex;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: left;
  margin-top: 8;
  background-color: #55c325;
  color: white;
  border-style: solid;
  border-width: 0px;
  padding: 0.4vw;
  padding-inline: 2vw;
  font-family: GongGothicLight, serif
}

.tags {
  display: flex;
  flex-direction: column;
  height: 74vh;
  overflow: scroll;
}

.oneTag {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-width: 0;
  border-radius: 16;
  padding: 0.8vw;
  padding-inline: 1.2vw;
  padding-right: 2vw;
  font-family: GongGothicLight, serif
}

.tagTitle {
  font-size: 1.2vw;
  display: flex;
  flex: 1;
  margin-right: 0.4vw;
  text-align: justify;
}

.tagTime {
  align-self: center;
  color: #aaa;
  font-size: 1vw;
  font-weight: 600;
  width: 5vw;
  text-align: right;
}
